.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(59,58,58);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(88,0 ,0 );
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: lightyellow;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:lightyellow;
    color: rgb(59,58,58);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:rgb(88,0 ,0 );
  }
  
  #main {
    transition: margin-left .15s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .image1 {
    position: fixed;
    right: 100px;
    top: 90px;
    width: 100px;
    height: 400px;
    background-image: url('https://blackbeltmag.com/media-library/image.jpg?id=23508694&width=1245&height=700&quality=85&coordinates=0%2C66%2C0%2C66');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
  }
  body {
    background-image: url("https://i.pinimg.com/564x/35/ec/f8/35ecf81e0f0a0ad349d99b08cda8e56c.jpg");
    background-color: #cccccc;
    background-size:cover;
  }
  .image1 {
    object-position: right;
  }