.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(59,58,58);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(88,0 ,0 );
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: lightyellow;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:lightyellow;
    color: rgb(59,58,58);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:rgb(88,0 ,0 );
  }
  
  #main {
    transition: margin-left .15s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  body {
    background-image: url(https://www.basic-fit.com/dw/image/v2/BDFP_PRD/on/demandware.static/-/Library-Sites-basic-fit-shared-library/default/dw8e97351f/Roots/Blog/Blog-Header/1088x612/19-03-Blog-Fitness-Information-Work-Training.jpg?sw=968 );
  background-size: cover;
  }
  text {
    position: fixed;
    width: 300px;
  }
  table { 
    top: 360px;
    width: 850px;
   height: 100px;
    position: fixed;
    left: 15px;
    border: 1px solid;
    color: black;
  }